<% layout('layout/boilerplate') %>
<div class="row">
  <div class="container col-md-10 col-xl-7">
    <section class="user-info">
      <div class="row">
        <div class="user-image col-5">
          <img
            class="img-fluid"
            src="https://images.unsplash.com/photo-1651840831365-3b121f42e5e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
            alt="User image"
          />
        </div>
        <div class="user-content col-7">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          nemo architecto nihil veritatis aliquam inventore voluptatum
          doloremque enim impedit quae. Dignissimos totam accusamus illum sit
          odit laborum exercitationem ullam unde?
        </div>
      </div>
    </section>

    <section class="user-info">
      <div class="user-header">
        Interests
        <%- include('partials/modal') %> 
      </div>
      <div class="user-content">
        <ul>
          <li>Gaming</li>
          <li>Movie</li>
        </ul>
      </div>
    </section>

    <section class="user-info">
      <div class="user-header">
        Places I have been to
        <%- include('partials/modal') %> 
      </div>
      <div class="user-content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        nemo architecto nihil veritatis aliquam inventore voluptatum doloremque
        enim impedit quae. Dignissimos totam accusamus illum sit odit laborum
        exercitationem ullam unde?
      </div>
    </section>

    <section class="user-info">
      <div class="user-header">
        Upcoming travel plan
        <%- include('partials/modal') %> 
      </div>
      <div class="user-content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        nemo architecto nihil veritatis aliquam inventore voluptatum doloremque
        enim impedit quae. Dignissimos totam accusamus illum sit odit laborum
        exercitationem ullam unde?
      </div>
    </section>

    <section class="user-info">
      <div class="user-header">
        What kind of traveller am I looking for
        <%- include('partials/modal') %> 
      </div>
      <div class="user-content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        nemo architecto nihil veritatis aliquam inventore voluptatum doloremque
        enim impedit quae. Dignissimos totam accusamus illum sit odit laborum
        exercitationem ullam unde?
      </div>
    </section>
  </div>
</div>
